* {
      box-sizing: border-box;
}

html {
      scroll-behavior: smooth;
}
body {
      font-family: 'Nunito', sans-serif;
      background-color: #ffffff;
}

.godspeed-heading {
      font-family: 'Rubik', sans-serif;
}

      #mobile-video video {
      object-fit: cover;
      }

@media (max-width:400px) {
      #mobile-video {
            height: 65vh;
      }
}

@media (max-width:340px) {
      #mobile-video {
            height: 62vh;
      }
}

@media (min-width:540px) and (max-width:768px) {
      #mobile-video {
            height: 100%;
      }
}

@media (min-width:768px) and (max-width:900px) {
      #desktop-video {
            height: 65vh;
      }
}

@media (min-width:900px) and (max-width:1024px) {
      #desktop-video {
            height: 75vh;
      }
}

@media (max-width:400px) {
      #mobile-video video {
            object-fit: contain;
      }
}
