* {
      box-sizing: border-box;
}

html {
      scroll-behavior: smooth;
}
body {
      font-family: 'Nunito', sans-serif;
      background-color: #ffffff;
}

.godspeed-heading {
      font-family: 'Rubik', sans-serif;
}

@media (max-width:400px) {
      #mobile-video {
            height: 72vh;
      }
}

@media (min-width:540px) and (max-width:768px) {
      #mobile-video {
            height: 100%;
      }
}